# Data Analysis & Visualisation of Stock Data

* Project Scope: Analyze and visualize Stock data using python libraries
* Data source: Yahoo finance using pandas datareader
* Data: Using pandas datareader, we will get stock information for the following banks
            * Bank of America
            * CitiGroup
            * Goldman Sachs
            * JPMorgan Chase
            * Morgan Stanley
            * Wells Fargo

## Import libraries

In [ ]:
# First things first: 
## Install pandas datareader by using this "pip install pandas-datareader" in python command line

# Import Data Analysis libraries
from pandas_datareader import data, wb
import datetime
import numpy as np
import pandas as pd

# Import Data Visualisation libraries
import matplotlib.pyplot as plt
import seaborn as sns
import cufflinks as cf
cf.go_offline()

# For display in notebook
%matplotlib inline

## Load data

Idea is to get stock data from Jan 1st 2006 to Jan 1st 2016 for each of the above banks, set each bank to be a separate dataframe, with the variable name for that bank being its ticker symbol. Steps to get data
    * first use datetime to set start and end datetime objects
    * Use datareader to get information on the stock from yahoo

In [80]:
# start and end date time objects
start = datetime.datetime(2006, 1, 1)
end = datetime.datetime(2016, 1, 1)

In [81]:
# datareader to get info
# Bank of America
BAC = data.DataReader("BAC", 'yahoo', start, end)

# CitiGroup
C = data.DataReader("C", 'yahoo', start, end)

# Goldman Sachs
GS = data.DataReader("GS", 'yahoo', start, end)

# JPMorgan Chase
JPM = data.DataReader("JPM", 'yahoo', start, end)

# Morgan Stanley
MS = data.DataReader("MS", 'yahoo', start, end)

# Wells Fargo
WFC = data.DataReader("WFC", 'yahoo', start, end)

** Lets view BAC info.. **

In [86]:
BAC.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  36.535149
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  36.147141
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  36.193695
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  36.139370
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  36.162647

can get data like this also

df = data.DataReader(['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC'],'yahoo', start, end)

In [82]:
# ticker symbols in alphabetical order
tickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

In [83]:
bank_stocks = pd.concat([BAC, C, GS, JPM, MS, WFC],axis=1,keys=tickers)

In [84]:
bank_stocks.columns.names = ['Bank Ticker','Stock Info']

** Lets view bank_stocks dataFrame **

In [85]:
bank_stocks.head()

Bank Ticker        BAC                                               \
Stock Info        High        Low       Open      Close      Volume
Date
2006-01-03   47.180000  46.150002  46.919998  47.080002  16296700.0
2006-01-04   47.240002  46.450001  47.000000  46.580002  17757900.0
2006-01-05   46.830002  46.320000  46.580002  46.639999  14970700.0
2006-01-06   46.910000  46.349998  46.799999  46.570000  12599800.0
2006-01-09   46.970001  46.360001  46.720001  46.599998  15619400.0

Bank Ticker                      C                                      \
Stock Info   Adj Close        High         Low        Open       Close
Date
2006-01-03   36.535149  493.799988  481.100006  490.000000  492.899994
2006-01-04   36.147141  491.000000  483.500000  488.600006  483.799988
2006-01-05   36.193695  487.799988  484.000000  484.399994  486.200012
2006-01-06   36.139370  489.000000  482.000000  488.799988  486.200012
2006-01-09   36.162647  487.399994  483.000000  486.000000  483.899994

Bank Ticker    ...             MS                                         WFC  \
Stock Info     ...           Open      Close     Volume  Adj Close       High
Date           ...
2006-01-03     ...      57.169998  58.310001  5377000.0  39.379498  31.975000
2006-01-04     ...      58.700001  58.349998  7977800.0  39.406509  31.820000
2006-01-05     ...      58.549999  58.509998  5778000.0  39.514561  31.555000
2006-01-06     ...      58.770000  58.570000  6889800.0  39.555077  31.775000
2006-01-09     ...      58.630001  59.189999  4144500.0  39.973793  31.825001

Bank Ticker
Stock Info         Low       Open      Close      Volume  Adj Close
Date
2006-01-03   31.195000  31.600000  31.900000  11016400.0  22.067434
2006-01-04   31.365000  31.799999  31.530001  10870000.0  21.811476
2006-01-05   31.309999  31.500000  31.495001  10158000.0  21.787266
2006-01-06   31.385000  31.580000  31.680000   8403800.0  21.915241
2006-01-09   31.555000  31.674999  31.674999   5619600.0  21.911785

[5 rows x 36 columns]

## Let's analyze and visualize data

** 1.Max Close price for each stock throughout the time period **

In [67]:
bank_stocks.xs(key='Close',axis=1,level='Stock Info').max()

Bank Ticker
BAC     54.900002
C      564.099976
GS     247.919998
JPM     70.080002
MS      89.300003
WFC     58.520000
dtype: float64

** 2. Need to continue this analysis... **

## Things to note after analysis

After analysing and visualizing data, hear are the things we know